DATABASE_URL=local.db

EMAIL_FROM=user@example.com
EMAIL_FROM_NAME=Example.com

# Authentication
AUTH_SECRET=your-32-character-minimum-secret-key
SAFE_ADDRESS=0x...
SAFE_CHAIN_ID=1
SAFE_API_KEY=your-safe-api-key
